@import "../../../../../assets/color.scss";

.header {
	background-color: $color-white-smoke;
	width: 95%;
	padding: 10px 10px 10px 5px;
	span {
		font-weight: bold;
		font-size: 9pt;
		margin: 5px;
	}
}

.notifications {
	position: absolute;
	font-size: 10pt;
	background-color: $color-white;
	border: $color-white-smoke 1px solid;
	width: 285px;
	right: 7px;
	top: 60px;
	z-index: 1000;	

	.notification {
		padding: 10px 0 0 10px;
		display: inline-block;
		width: 96%;
		background-color: $color-white;
		.title {
			font-size: 12pt;
			font-weight: bold;
			width: 100%;
		}

		.contact {
			font-size: 8pt;
			float: right;
			padding-right: 5px;
		}
	}

	.summary {
		padding: 10px 0 10px 0;
		width: 98%;
		display: inline-flex;
		.status {
			font-size: 9pt;
			font-weight: bold;
			width: 35%;

			mat-icon {
				vertical-align: sub;
			}
		}

		.timestamp {
			font-size: 9pt;
			width: 70%;
			text-align: right;
		}
	}

	.alternate {
		background-color: $color-white-smoke;
	}
}

.notification-arrow {
	position: absolute;
	top: -29px;
	right: 9px;
	color: $color-white-smoke;
}

.not-avaiable {
	padding: 10px;
	text-align: center;
	display: inline-flex;

	span {
		padding-top: 5px;
	}
}