<div class="notifications" [ngClass]="{'show': show, 'hide': !show}">
    <div class="notification-arrow" [ngClass]="{'show': show, 'hide': !show}">
        <mat-icon class="md-48">arrow_drop_up</mat-icon>
    </div>
    <div class="header"><span>ALERTS</span></div>
    <div *ngIf="type === BOOKING">
        <ggl-booking-notification *ngIf="notificationItems && notificationItems.length" [items]="notificationItems"></ggl-booking-notification>
    </div>
    <div *ngIf="type === OTHERS">
        
    </div>
    <div *ngIf="isEmpty" class="not-avaiable">
        <mat-icon class="md-16">notification_important</mat-icon> <span>No booking notifications are available.</span>
    </div>
</div>