@import "../../../assets/color.scss";

.nav {
	width: 90%;
	padding-left: 30px;
	z-index: 1000;
}

.navbar-light .navbar-nav .nav-link {
	color: $color-white;
	cursor: pointer;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.navbar {
	padding: 0;
	color: $color-white;
	width: 100%;

	.nav-icon {
		position: relative;
	}

	li.social-media {
		position: absolute;
		right: 10px;
		display: inline-flex;

		.icons {
			padding-top: 10px;
			list-style: none;
			display: inline-flex;
			li {
				display: inline-flex;
				padding-left: 5px;
			}
		}
	}
}

.banner {
	margin-top: -1px;
	width: 100%;
	height: 100%;

	img {
		width: 100%;
		height: inherit;
	}

	.find-booking {
		position: absolute;
		top: 40%;
		right: 25%;
		left: 25%;
		width: 50%;
		text-align: center;
		display: inline-flex;

		.date {
			width: 100%;
			line-height: 36px;
			border: none;
			padding-top: 1px;
			text-align: left;
			input {
				width: 100%;
				padding-left: 5px;
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
				border: solid 1px $color-white;
				height: 39px;
			}
		}

		.calender {
			cursor: pointer;
			margin-left: -35px;
			margin-top: 5px;
		}

		label {
			color: $color-white-smoke;
			font-family: Georgia, "Times New Roman", Times, serif;
			font-size: 20pt;
			text-align: center;
		}

		.occassion {
			background-color: $color-light-gray;
			padding: 7px 8px 5px 5px;
			height: 39px;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			width: 130px;
			cursor: pointer;

			span {
				padding-left: 5px;
			}
		}

		.dropdown {
			position: absolute;
			border-color: $color-gray;
		}

		p {
			color: $color-white;
		}
	}
}

@media screen and (max-width: 1024px) {
	.collapse {
		width: 100%;
	}

	.banner {
		.find-booking {
			top: 40%;
		}
	}
}

@media all and (max-width: 400px), (max-width: 768px) {
	.navbar {
		position: absolute;
		right: 5px;
		top: 5px;

		.nav-icon {
			position: absolute;
			right: 10px;
		}
	}

	.collapse {
		z-index: 1000;
		color: $color-white;
		background-color: $color-menu-black;
		padding-left: 20px;
		position: absolute;
		top: 42px;
		right: -5px;
		width: 135px;
	}

	.navbar-nav {
		height: calc(100% - 10px);
	}

	.banner {
		.find-booking {
			position: absolute;
			top: 40%;
			right: 5%;
			left: 5%;
			width: 90%;
			text-align: center;
			display: inline-flex;
			.date {
				input {
					height: 40px;
				}
			}
			.occassion {
				background-color: $color-light-gray;
				padding: 5px 8px 5px 0px;
				height: 40px;
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
				width: 130px;
				cursor: pointer;

				span {
					padding-left: 5px;
				}
			}
		}
	}

	li.social-media {
		position: relative !important;
		right: 55px !important;
		padding: 0 0 10px 5px;
		.icons {
			display: flex !important;

			li.follow-us {
				display: none !important;
			}

			li {
				list-style: none;
				padding-left: 5px;
			}
		}
	}
}
