<div class="nav-section">
    <!-- Toggle Menu -->
    <div class="logo" title="Green Garden">
        <img src="../../../../assets/graphics/images/logo-64.png" />
        <!-- <mat-icon aria-hidden="false" class="md-30" aria-label="Toggle">menu</mat-icon> -->
    </div>
    <!-- Dynamic Menu -->
    <div *ngFor="let menu of menuItems" [class]="menu.cssStyle" [ngClass]="{ 'active': menu.active === true}"
        [title]="menu.title">
        <mat-icon *ngIf="menu.childrens && menu.childrens.length" class="sub-menu-arrow">arrow_left</mat-icon>
        <a href="{{menu.url}}" [ngClass]="{ 'active': menu.active === true}">
            <mat-icon aria-hidden="false" class="md-{{ menu.icon.size }}" [aria-label]="menu.title">
                {{menu.icon.name}}</mat-icon>
        </a>

        <div *ngIf="menu.childrens && menu.childrens.length">
            <ggl-nav-sub-menu [menuItems]="menu.childrens"></ggl-nav-sub-menu>
        </div>
    </div>
    <!-- Logout Menu -->
    <div class="log-out bottom" title="Logout">
        <mat-icon aria-hidden="false" class=" md-30" aria-label="Logout">power_settings_new</mat-icon>
    </div>
</div>