$color-red: #FF0000;
$color-maroon-red: #C72A2A;
$color-green: #00FF00;
$color-blue: #0000FF;
$color-black: #000000;
$color-skyblue: #87CEEB;
$color-menu-black: #212121;
$color-menu-active: #81d8d0;
$color-white: #FFFFFF;
$color-white-smoke: #F5F5F5;
$color-light-green: #57cf57;
$color-gray: #808080;
$color-light-gray: #d8cbcb;
$color-yellow: #FFFF00;
$color-orange: #ffa500;
$color-black: #000000;
$color-lighter-gray: #fefdfd;

