@import "./assets/color.scss";

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px !important; }
.material-icons.md-24 { font-size: 24px !important; }
.material-icons.md-30 { font-size: 30px !important; }
.material-icons.md-36 { font-size: 36px !important; }
.material-icons.md-48 { font-size: 48px !important; }
.material-icons.md-60 { font-size: 60px !important; }
.material-icons.md-72 { font-size: 72px !important; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.white { color: $color-white; }
.bg-white { background-color: $color-white; }

.skyblue { color: $color-skyblue; }
.bg-skyblue { background-color: $color-skyblue; }

.gray { color: $color-gray; }
.bg-gray { background-color: $color-gray; }

.light-gray { color: $color-light-gray; }
.bg-light-gray { background-color: $color-light-gray; }

.black { color: $color-black;}
.bg-black  { background-color: $color-black; }

.bg-light-black  { background-color: $color-menu-black; }

.dialog-header {
    padding:10px;
}

.dialog-overlay {
    background-color: $color-menu-black;
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .8;
    z-index: 100;
}