@import "../../../../assets/color.scss";

.icons {
	cursor: pointer;
	text-decoration: none;
	padding: 15px 5px;
	position: relative;
	border-radius: 2px;
	float: right;
	.badge {
		position: absolute;
		top: 10px;
		right: 10px;
		padding: 5px 2px 0px 2px;
		border-radius: 50%;
		background: $color-red;
		color: $color-white;
		height: 18px;
		width: 20px;
		font-size: 8pt;
		font-weight: bold;
		text-align: center;
	}

	.badge-large {
		position: absolute;
		top: 10px;
		right: 0px;
		padding: 5px 2px 0px 2px;
		border-radius: 40%;
		background: $color-red;
		color: $color-white;
		height: 16px;
		width: 30px;
		font-size: 8pt;
		font-weight: bold;
		text-align: center;
	}
}

.search-box {
	position: absolute;
	font-size: 10pt;
	background-color: $color-white;
	border: $color-white-smoke 1px solid;
	width: 285px;
	right: 5px;
	top: 60px;
	z-index: 1000;

	.header {
		background-color: $color-white-smoke;
		width: 95%;
		padding: 10px 10px 10px 5px;
		span {
			font-weight: bold;
			font-size: 9pt;
			margin: 5px;
			text-transform: uppercase;
		}
	}
	.arrow {
		position: absolute;
		color: $color-white-smoke;
		top: -29px;
		right: 9px;
	}

	.input {
		line-height: 25px;
		padding: 5px;
		width: 98%;
		display: inline-flex;
	}
}
